.table-of-contents {
  letter-spacing: 0.4px;
}


.text-shadow {

  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


.flashes h4 {
   line-height: 2;
}

.btn-small {
   margin: 5px;
}

.collapsible-header .col strong {
   margin: 5px;
   line-height: 42px;

}



body {
   background: url("https://www.fairfaxstatic.com.au/etc/designs/ffx/cq-site-clientlibs-designs-good-food/css/img/gf-social-home.jpg") no-repeat fixed center;
 }


 * {
   box-sizing: border-box;
 }
 
 body {
   color: aquamarine;
   background-color:blanchedalmond;
   padding: 20px;
   font-family: Arial;
 }
 
 /* Center website */
 .main {
   max-width: 1000px;
   margin: auto;
 }
 
 h1 {
   font-size: 50px;
   word-break: break-all;
 }
 
 .row {
   margin: 8px -16px;
 }
 
 /* Add padding BETWEEN each column (if you want) */
 .row,
 .row > .column {
   padding: 8px;
 }
 
 /* Create four equal columns that floats next to each other */
 .column {
   float: left;
   width: 25%;
 }
 
 /* Clear floats after rows */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
 
 /* Content */
 .content {
   background-color:white;
   padding: 10px;
 }
 
 /* Responsive layout - makes a two column-layout instead of four columns */
 @media screen and (max-width: 900px) {
   .column {
     width: 50%;
   }
 }
 
 /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
   .column {
     width: 100%;
   }
 }

 /* profile card */ 

 .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}