{% extends "base.html" %}
{% block content %}
<!-- MAIN (Center website) -->
<div class="main">

  <h1> COOKING TOOLS UTOPIA </h1>
  <hr>
  
  
  <!-- Portfolio Gallery Grid -->
  <div class="row">
    <div class="column">
      <div class="content">
        <img src="https://assets.wsimgs.com/wsimgs/rk/images/dp/wcm/202139/0005/all-clad-precision-nonstick-flex-turner-o.jpg" alt="Utensils set" style="width:100%">
        <h3>All-Clad Precision Nonstick Spatula</h3>
        <p>Crafted to the exceptional standards of All-Clad, this nonstick turner is designed to perform any task with precision and ease. 
          Its sturdy square head slips easily under food to lift and turn without breaking or tearing. 
          All-Clad's iconic stainless-steel handle—also used with the cookware—is comfortable to hold at any angle.
        </p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="https://assets.wsimgs.com/wsimgs/rk/images/dp/wcm/202139/0098/img66o.jpg" alt="Thermometer" style="width:100%">
        <h3>Outdoor Waterproof Pen</h3>
        <p>Whether you're grilling at night or in inclement weather, you can count on this rugged, waterproof, 
          shatter-resistant digital thermometer to take the guesswork out of cooking. Compact enough to fit in your pocket, 
          it's great for grilling, tailgating or picnicking and displays the precise internal temperature of food in seconds.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="https://assets.wsimgs.com/wsimgs/rk/images/dp/wcm/202114/0004/wusthof-gourmet-16-piece-knife-set-o.jpg" alt="Knifes and cuttery" style="width:100%">
        <h3>Wüsthof Gourmet 16-Piece Knife Set</h3>
        <p>Family owned for seven generations, Wüsthof has produced some of the finest kitchen cutlery in the world since 1814.
           The Gourmet line features precision stainless-steel blades that resist stains and rust while holding an exceedingly sharp edge. 
           This set includes all the most common kitchen knives, as well as a four-piece steak knife set, 
           specialty knives for more advanced prep work and a handsome hardwood block.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="https://assets.wsimgs.com/wsimgs/rk/images/dp/wcm/202139/0032/all-clad-stainless-steel-measuring-cups-and-spoons-o.jpg" alt="all-clad-stainless-steel-measuring-cups" style="width:100%">
        <h3>All-Clad Stainless-Steel Measuring Cups & Spoons</h3>
        <p>These utensils bring speed and precision to measuring ingredients for baking and cooking. Each is a miniature version of All-Clad's famous saucepan,
           made of heavy-gauge stainless steel with a polished finish and the manufacturer's signature riveted handles.
          </p>
      </div>
    </div>
  </div>
  
  <div class="content">
    <img src="https://assets.wsimgs.com/wsimgs/rk/images/dp/wcm/202118/0002/philips-pasta-maker-o.jpg" alt="philips-pasta-maker-o" style="width:100%">
    <h3>Philips Pasta Maker Plus</h3>
    <p>Channel your inner kitchen rock star with our Philips Pasta Maker, which makes it easy to serve up fresh, 
      delicious pasta in 15 minutes or less. Our pasta maker does all the heavy lifting for you with convenient features such as automatic mixing and kneading,
       four shaping discs and an easy-to-use cleaning tool that makes cleaning the machine fast and easy. All you need to do is measure your ingredients and add them to the pasta maker. 
       Within minutes, fresh pasta begins extruding from the machine. Feel free to get daring with your pasta recipes and experiment with flavors by adding herbs or vegetables to your dough recipe.
        You can also easily make ravioli and dumplings using the lasagna tool.</p>
  </div>
  
  <!-- END MAIN -->
  </div>
            


{% endblock %}