{% extends "base.html" %}
{% block content %}

<div class="carousel">
  <a class="carousel-item" href="#one!"><img src="https://tse3.mm.bing.net/th?id=OIP.ZURpl-1Y1PMIqKb7zWcl4QHaEK&pid=Api&P=0&w=324&h=183"></a>
  <a class="carousel-item" href="#two!"><img src="https://tse2.mm.bing.net/th?id=OIP.maQpFJiRuDMauaTZ3N7KiQHaEo&pid=Api&P=0&w=242&h=152"></a>
  <a class="carousel-item" href="#three!"><img src="https://tse3.mm.bing.net/th?id=OIP.fMMHhajhpc6rMnfmBCwMgAHaE7&pid=Api&P=0&w=241&h=161"></a>
  <a class="carousel-item" href="#four!"><img src="https://tse2.mm.bing.net/th?id=OIP.B7-MCU6qwjN5KBMrik0G8AHaEK&pid=Api&P=0&w=273&h=154"></a>
  <a class="carousel-item" href="#five!"><img src="https://tse1.mm.bing.net/th?id=OIP.EZB54UxuXxsmohy73KoeXwHaE8&pid=Api&P=0&w=253&h=169"></a>
</div>


<h3 class="center-align white-text text-shadow text-darken-4">Welcome !</h3>

<section class="intro">
    <div class="inner">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel transparent">
                <h3 class="center-align white-text text-shadow text-darken-4">
                    You are logged in as: 
                    <br>
                    {{ username }}
                </h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align white-text">
                All cooked out ? 
                <br>
                <a href="{{ url_for('logout') }}" class="white-text text-darken"><i class="fas fa-user-plus"></i> Log Out</a>
            </p>
        </div>
    </div>
</div>
</section>

{% endblock %}