{% extends "base.html" %}
{% block content %}

<div class="carousel">
  <a class="carousel-item" href="#one!"><img src="https://tse3.mm.bing.net/th?id=OIP.ZURpl-1Y1PMIqKb7zWcl4QHaEK&pid=Api&P=0&w=324&h=183"></a>
  <a class="carousel-item" href="#two!"><img src="https://tse2.mm.bing.net/th?id=OIP.maQpFJiRuDMauaTZ3N7KiQHaEo&pid=Api&P=0&w=242&h=152"></a>
  <a class="carousel-item" href="#three!"><img src="https://tse3.mm.bing.net/th?id=OIP.fMMHhajhpc6rMnfmBCwMgAHaE7&pid=Api&P=0&w=241&h=161"></a>
  <a class="carousel-item" href="#four!"><img src="https://tse2.mm.bing.net/th?id=OIP.B7-MCU6qwjN5KBMrik0G8AHaEK&pid=Api&P=0&w=273&h=154"></a>
  <a class="carousel-item" href="#five!"><img src="https://tse1.mm.bing.net/th?id=OIP.EZB54UxuXxsmohy73KoeXwHaE8&pid=Api&P=0&w=253&h=169"></a>
</div>


<div class="card">
    <img src="https://png.pngtree.com/png-vector/20190223/ourmid/pngtree-vector-avatar-icon-png-image_695765.jpg" alt="John" style="width:100%">
    
    <p class="title"> Hello this my profile </p>
    <p>Harvard University</p>
    <a href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a>
    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
    
  </div>


{% endblock %}